{% include "layout/header.html"%}
<div class="page-header">
	<h1>{{page_title}}</h1>
</div>
<!--
<form id="search_form" method="post" action="/search/form">
    <input type="hidden" name="blogid" value="{{blogid}}">
    <input id="id_q" name="q" type="search">
    <input type="submit" value="Search">
</form>
-->
<div class="row">
	<div class="col-md-12">
	{%for entry in entries%}
		<div class="panel panel-default">
			<div class="panel-body">
				<p class="pull-right">Category : {{entry.Category.Title}}</p>	
				<h2>
					<a href="/blog/{{blogid}}/entry/{{entry.id}}">{{entry.rownum}}.{{entry.Title}}</a>

				</h3>					
  				<div style="padding-bottom:10px;">	{{entry.Content|safe }}</div>				
				<p class="pull-right">
								Tag : {%for tag in entry.Tags.all%} <span>{{tag.Title}}</span>
						{%endfor%}
				</p>
				<ul class="list-inline"><li><a href="#">{{entry.created}}</a></li><li><a href="/blog/get/comments/{{entry.id}}/"
						onclick="toggle_comment_box(this.href, '{{entry.id}}'); return false;"><i class="glyphicon glyphicon-comment"></i>
				Comment({{entry.Comments}})</a></li></ul>
				
				<div id="comment_box_{{entry.id}}" style="display: none;"></div>
			</div>
		</div>
	{%endfor%}
	</div>
</div>

<div class="row">
	<div class="col-md-1 col-md-offset-11">
		<a href="/blog/{{blogid}}/write"><button type="button" class="btn btn-primary">Write</button></a>
	</div>			
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-5">
		<ul class="pagination">
			{%if previous_page%}
			<li><a href="/blog/{{blogid}}/page/{{previous_page}}">«</a></li>
			{%endif%}			
			{%for i in total_page%}
			<li><a href="/blog/{{blogid}}/page/{{i}}">{{i}}</a></li> 
			{%endfor%}
			{%if next_page%}
			<li><a href="/blog/{{blogid}}/page/{{next_page}}">»</a></li>
			{%endif%}	
		</ul>
	</div>
</div>

{%include "layout/footer.html" %}
