{% include "layout/header.html"%}
	<div class="row">
		<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">			
				<div class="panel-title">
					<h3><a href="/blog/entry/{{current_entry.id}}">{{current_entry.Title}}</a>
					<span class="pull-right"><small> Posted by {{current_entry.created}}</small></span></h3>
				</div>
			</div>
			<div class="panel-body">

				{{current_entry.Content}}

			</div>
			<div class="panel-footer">
				<p>{{current_entry.Category.Title}}
				<span class="pull-right">
					{%for tag in current_entry.Tags.all%} <span>{{tag.Title}}</span>
					{%endfor%}
				</span>
			   	</p>
			</div>		
		</div>
		
		<div class="pull-right">
			<a href="/blog/{{blogid}}"><button class="btn btn-default">List</button></a>
		</div>
		
		<div class="pull-right">
			<a href="/blog/{{blogid}}/del/post/{{current_entry.id}}"><button class="btn btn-default">delete</button></a>
		</div>

		<div id="comment_box_{{current_entry.id}}" style="display:block;">
			{% include 'blog/comments.html' %}
		</div>
		
		{%include "blog/comment_form.html"%} 
		
		<nav>
		  <ul class="pager">
			{% if prev_entry %}
		    <li class="previous"><a href="/blog/{{blogid}}/entry/{{prev_entry.id}}">Previous</a></li>
		    {% endif %} {% if next_entry %}
		    <li class="next"><a href="/blog/{{blogid}}/entry/{{next_entry.id}}">Next</a></li>
		    {% endif %}
		  </ul>
		</nav>
		</div>
	</div>	
	{%include "layout/footer.html" %}