{% include "layout/header.html"%}
	<form method="post" action="/blog/{{blogid}}/add/post">{% csrf_token %}
		<p><label for="title">Title</label><input type="text" class="form-control" placeholder="Title input" name="title"></p>
		<p><label for="category">Category</label><select name="category" class="form-control">
		{%for category in categories%}
			<option value="{{category.id}}">{{category.Title}}</option>
		{% endfor %}
		</select></p>
		<p><label for="tags">Tags</label><input type="text" class="form-control" placeholder="Tags input" name="tags"/></p>
		<p><label for="tags">Text</label>
			<textarea class="form-control" rows="3" id ="content" name="content"></textarea></p>
		
		<div class="row">
			<div class ="col-md-12" >
				<div class="pull-right">
				<button type="submit" class="btn btn-primary">Submit</button>
				<a href="/blog/{{blogid}}">
					<button type="button" class="btn btn-default">list</button>
				</a>
				</div>
			</div>
		</div>		
	</form>
{%include "layout/footer.html" %}