<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>write comment form</title>
</head>
<body>
<div class="row">
<form method="post" action="/blog/add/comment" onsubmit="add_comment(this); return false;">{% csrf_token %}
	<input type="hidden" name="entry_id" value="{{current_entry.id}}" />
	<div class="input-group"><input type="text" class="form-control" id="name" name="name" placeholder="Writer"><input type="password" id="password" name="password" class="form-control" placeholder="Password">	
	</div>
	<p><textarea id="content" name="content"></textarea></p>
	<p><input type="submit" value="submit"/></p>	
</form>
</div>
</body>
</html>