{%if with_layout%} {%include "layout/header.html"%} {% endif %} 

{% if comments|length%}
<table class="table table-bordered">
	{%for comment in comments %}
	<tr>
		<td>				
				<form method="post" action="/blog/del/comment">
					{% csrf_token %}
					<input type="hidden" name="id" id="id" value="{{comment.id}}" />
					<div class="text-right"> {{comment.created}}</div>
					{{comment.Name}} write it.
					<div class="pull-right" id="del_comment">
						<button type="button" id="del_button" class="close" aria-hidden="true" onclick="del_comment(this)">x</button>						
						<div id="password_form" style="display:none;">							
							<input type="password" id="password" name="password" class="form-control" placeholder="Password">							
							<input type="submit" class="btn btn-default" value="del"/>							
						</div>
					</div>
					<p>{{comment.Content}}</p>										 
				</form>			
		</td>
	</tr>
	{%endfor%}
	
</table>
{%else%} no comments. 
{%endif%} {%include "comment_form.html"%} 
{%if with_layout%} 
{%include "layout/footer.html"%} 
{% endif %}
