{% include "layout/header.html"%}
<div id="content">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-body">
				<p class="pull-right">{{current_entry.Category.Title}}</p>
				<h2>
					<a href="/blog/entry/{{current_entry.id}}">{{current_entry.Title}}</a>
				</h2>


				<div class="post_meta">{{current_entry.Content}}</div>

				<p class="pull-right">
					{%for tag in current_entry.Tags.all%} <span>{{tag.Title}}</span>
					{%endfor%}
				</p>
				<ul class="list-inline">
					<li>{{current_entry.created}}</li>
				</ul>
			</div>
		</div>

		<div id="comment_box_{{current_entry.id}}" style="display: block;">
			{% include 'comments.html' %}</div>
		<div>
			<a href="/blog"><input type="button" value="list"> </a>
		</div>
		<ul>
			{% if prev_entry %}
			<li><a href="/blog/entry/{{prev_entry.id}}">prev :
					{{prev_entry.Title}}</a></li> {% endif %} {% if next_entry %}
			<li><a href="/blog/entry/{{next_entry.id}}">next :
					{{next_entry.Title}}</a></li> {% endif %}
		</ul>
	</div>

	{%include "layout/footer.html" %}