<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{page_title}}</title>
</head>
<body>
	<form method="post" action="/blog/add/post">{% csrf_token %}
		<p><label for="title">Title</label><input type="text" id="title" name="title" value=""/></p>
		<p><label for="category">Category</label><select name="category" id="category">
		{%for category in categories%}
			<option value="{{category.id}}">{{category.Title}}</option>
		{% endfor %}
		</select></p>
		<p><label for="tags">Tags</label><input type="text" id="tags" name="tags"/></p>
		<p><textarea id ="content" name="content"></textarea></p>
		<p><input type="submit" value="submit"/></p>
	</form>
</body>
</html>